<div class="bg-gray-100 min-h-screen flex">
  <div class="w-1/4 bg-gray-200 p-4 overflow-y-auto">
    <h2 class="text-2xl font-bold text-gray-800 mb-4 text-center">Select a User</h2>
    <table class="w-full">
      <tbody>
        <tr *ngFor="let user of users">
          <td>
            <button 
              class="w-full h-16 text-left px-4 py-2 bg-gray-400 text-black shadow hover:bg-slate-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
              (click)="onUserSelect(user)">
              {{ user }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="flex-1 p-4 bg-white shadow-lg rounded-lg overflow-auto">
    <h2 class="text-xl font-semibold text-gray-800 mb-4">Workout Details for {{ selectedUser }}</h2>
    <div class="flex items-center justify-center h-full">
      <div class="w-full max-w-screen-sm">
        <canvas id="MyChart" class="w-full h-64"></canvas> 
      </div>
    </div>
  </div>
</div>
